#theme_switcher {
  width: 50px;
  height: 14px;

  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 0 1px;
}
#theme_btn {
  --radius: 12px;
  width: var(--radius);
  height: var(--radius);
  border-radius: 50%;
  transition: transform 200ms cubic-bezier(0, -0.59, 0, 1.13);
}
#theme_btn.left {
  transform: translateX(0);
}
#theme_btn.right {
  transform: translateX(calc(50px - 100% - 2px));
}
.theme_switcher-wrap {
  display: flex;
  align-items: center;
}
.theme_switcher-wrap svg:nth-child(1) {
  margin-right: 5px;
}
.theme_switcher-wrap svg:nth-last-child(1) {
  margin-left: 5px;
}
.theme_switcher-wrap svg.dark path,
.theme_switcher-wrap svg.dark circle {
  fill: var(--dark-main-bg);
}
.theme_switcher-wrap svg.light path,
.theme_switcher-wrap svg.light circle {
  fill: var(--light-main-bg);
}
